<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SpeachRecognitionFirst.Properties.Settings.SpeachRecognitionConnectionString" connectionString="Data Source=DESKTOP-5GHO0TV\HOMESQL;Initial Catalog=SpeachRecognition;Persist Security Info=True;User ID=sa;Password=Energija101" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>